In [21]:
import pandas as pd

In [37]:
df=pd.read_csv("salaries.csv.csv")
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [24]:
df.columns

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [38]:
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [25]:
input=df.drop('salary_more_then_100k',axis=1)

In [26]:
target=df['salary_more_then_100k']

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
company1=LabelEncoder()
job1=LabelEncoder()
degree1=LabelEncoder()

In [29]:
input["company_n"]=company1.fit_transform(input["company"])
input["job_n"]=job1.fit_transform(input["job"])
input["degree_n"]=degree1.fit_transform(input["degree"])

In [30]:
inputs_n=input[["company_n","job_n","degree_n"]]

In [31]:
from sklearn import tree

In [32]:
model=tree.DecisionTreeClassifier()

In [33]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [34]:
model.score(inputs_n,target)

1.0

In [35]:
model.predict([[2,1,0]])

C:\Users\B A L U\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [36]:
model.predict([[1,1,0]])

C:\Users\B A L U\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)