In [1]:
import pandas as pd
d=pd.Series([4,7,9,2,6])
print(d)

0    4
1    7
2    9
3    2
4    6
dtype: int64

In [2]:
x=d.to_list()
print(x)

[4, 7, 9, 2, 6]

In [3]:
print(type(d))
print(type(x))

<class 'pandas.core.series.Series'>
<class 'list'>

In [4]:

a=pd.Series([1,2,3,4,5])
b=pd.Series([6,7,8,9,10])
print("Sum",a+b)
print("Subtraction",a-b)
print("Multiplication",a*b)
print("Division",a/b)

Sum 0     7
1     9
2    11
3    13
4    15
dtype: int64
Subtraction 0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64
Multiplication 0     6
1    14
2    24
3    36
4    50
dtype: int64
Division 0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

In [5]:
print(a>b)
print(a<b)
print(a==b)
print(a!=b)

0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
dtype: bool

In [6]:
x={"a":1,"b":2,"c":3,"d":4}
y=pd.Series(x)
print(y)

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
import numpy as np
x=np.array([1,34,14,45])
y=pd.Series(x)
print(y)

0     1
1    34
2    14
3    45
dtype: int32

In [8]:
d={"a":[1,2,3,4,5],"b":[6,7,8,9,10],"c":[11,12,13,14,15]}
df=pd.DataFrame(data=d)
print(df)

   a   b   c
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [9]:
df.head()

   a   b   c
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [10]:
df.tail()

   a   b   c
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       5 non-null      int64
 1   b       5 non-null      int64
 2   c       5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes